body {
    background-color: rgb(15, 68, 50);
}
.container {
    background-color: antiquewhite;
    position: absolute;
    width: 200px;
    height: 50px;
    margin-top: 0;
    margin-left: 0;
    text-align: center;
}
.container:hover{
    cursor: crosshair;
}

.labelText {
    margin: 0 auto;
}

.start{
    position: absolute;
    margin-top: 25%;
    margin-left: 50%;
    color: red;
}