/* font-family: 'Abel', sans-serif;
font-family: 'Coda', cursive; */


body {
    background-color: rgb(15, 68, 50);
}
h1 {
    padding: 3px;
    font-family: 'Coda', cursive;
}
h2 {
    padding: 3px;
    font-family: 'Coda', cursive;
}
.container {
    background-color: antiquewhite;
    position: absolute;
    width: 200px;
    height: 50px;
    margin-top: 0;
    margin-left: 0;
    text-align: center;
}
.container:hover{
    cursor: crosshair;
}

.labelText {
    margin: 0 auto;
}

.timer{
    margin-top: 0;
    margin-left: 90%;
    color: red;
    width: 100px;
}

.hide-game{
    visibility: hidden;
}

.difficulty{
    display: block;
    position: absolute;
    background-color: darkorange;
    width: 560px;
    height: 150px;
    margin-top: 15%;
    margin-left: 33%;
    border-radius: 10px;
}
.difficulty h2 {
    margin-left: 4em;
}

.difficultyButton{
    padding: 5px;
    width: 100px;
    height: 50px;
    margin-left: 5%;
    border-radius: 10px;
}
.difficultyButton:hover{
    cursor:pointer;
}